* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
  height: 400px;
  background-color: #0c325a;
}

/* .img{
  background-image: url(../img/background-header.png);
  background-size: cover;
  width: auto;
} */

.container{
  width: 90%;
  margin: auto;
}


.menu-inline {
    list-style: none;
}

.menu-inline li {
    display: inline-block;
}

.header-top {
    line-height: 60px;
}

.header-top::after {
    content: "";
    clear: both;
    display: block;
}

.header-top-logo {
    float: left;
    width: 10%;
}

.header-top-nav-left {
    float: left;
    width: 60%;
}

.header-top-nav-right {
    float: left;
    width: 30%;
    text-align: right;
}

.header-top li {
    margin: 0px 10px;
}

.header-top li a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
